<div class="container">
  <h1>Brand Management Page</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="form-container">
        <h3>Add Brand</h3>
        <hr>
        <form action="/brands" method="post">
          <p><label for="brand_name">Shoe Name</label>
          <input id="brand_name" name="brand_name" type="text" class="form-control"></p>
          <p><label for="price">Shoe Price</label>
          <input id="price" name="price" type="text" class="form-control"></p>
          <p><button type="submit" class="btn btn-info">Add Brand</button></p>
        </form>
      </div>
      <% if @error_message %>
      <p><%= @error_message %></p>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if @brands.any?() %>
        <h3>Current Brands</h3>
        <hr>
        <% @brands.each do |brand| %>
        <h5><a href="/brand/<%= brand.id()%>"><%= brand.brand_name %></a></h5>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
