<div class="container">
  <h1>The Shoe Company</h1>

  <div class="row">
    <div class="col-md-6">
      <a href="/brands">Manage Brands</a>
    </div>
    <div class="col-md-6">
      <a href="/stores">Manage Stores</a>
    </div>
  </div>
</div>
