<div class="container">
  <h1>The Shoe Company</h1>

  <div class="row">
    <div class="col-md-6">
      <a href="/brands"><img src='../img/ManageBrands.jpg' class ='intropic'></a>
    </div>
    <div class="col-md-6">
      <a href="/stores"><img src='../img/ManageStores.jpg' class ='intropic'></a>
    </div>
  </div>
</div>
