<div class="container">
  <h1>Store Management Page</h1>

  <div class="row">
    <div class="col-md-6">
      <h3>Add a Store</h3>
      <hr>
      <div class="form-container">
        <form action="/stores" method="post">
          <p><label for="store_name">Store Name</label>
          <input id="store_name" name="store_name" type="text" class="form-control"></p>
          <p><button type="submit" class="btn btn-info">Add Store</button></p>
        </form>
      </div>
      <% if @error_message %>
      <p><%= @error_message %></p>
      <% end %>
    </div>
    <div class="col-md-6">
      <h3>Current Stores</h3>
      <hr>
      <% if @stores.any?() %>
        <% @stores.each do |store| %>
        <h5><a href="/store/<%= store.id()%>"><%= store.store_name %></a></h5>
        <% end %>
        <% else %>
        There are no stores signed up at this time.
      <% end %>
    </div>
  </div>
</div>
