.container {
  width: 75%;
  margin: 0 auto;
}

.intropic {
  width: 300px;
}

h1 {
  font-family: 'Anton';
  text-align: center;
  font-size: 50px;
  margin: 0 auto;
}

h3 {
  font-family: 'Anton';
}
